@model CarBooking.DAL.Entities.Order

@{
    ViewBag.Title = "Order";
}

<link href="~/Styles/Order/create.css" rel="stylesheet"/>

<form autocomplete="off" method="post" action="Create">
    <div>
        @Html.LabelFor(order => order.StartDate, "Start Date:")<br>
        @Html.EditorFor(order => order.StartDate)
    </div>
    <div>
        @Html.LabelFor(order => order.FinishDate, "Finish Date:", null)<br />
        @Html.EditorFor(order => order.FinishDate)
    </div>
    <div>
        @Html.LabelFor(order => order.PassportNumber, "Passport Number:", null)<br />
        @Html.EditorFor(order => order.PassportNumber)
    </div>
    <div>
        @Html.LabelFor(order => order.NeedDriver, "Need Driver:")
        @Html.EditorFor(order => order.NeedDriver)
    </div>
    <div>
        <input type="hidden" value="@ViewBag.CarID" name="CarID"/>
    </div>
    <div>
        <input type="submit" />
    </div>
</form>
