@model IEnumerable<CarBooking.DAL.Entities.Order>

@{
    ViewBag.Title = "Orders";
}

<link href="~/Styles/Order/managerOrders.css" rel="stylesheet"/>

<div class="all-orders-wrapper">
    @foreach (var item in Model)
    {
    <div class="order-wrapper">
        <p>Car: @item.Car.CarTitle</p>
        <p>Price: @item.Price</p>
        <p>Passport Number: @item.PassportNumber</p>
        @if (item.NeedDriver)
        {
            <p>Need Driver: true</p>
        }
        else
        {
            <p>Need Driver: false</p>
        }
        <p>Start Date: @item.StartDate</p>
        <p>Finish Date: @item.FinishDate</p>
        @if (item.Status == CarBooking.DAL.Entities.Status.NotConfirmed)
        {
            <p>Status: Not Confirmed</p>
            @Html.ActionLink("Confirm", "Confirm", new { id = item.ID });
            @Html.ActionLink("Refuse", "Refuse", new { id = item.ID });
        }
        @if (item.Status == CarBooking.DAL.Entities.Status.Finished)
        {
            <p>Status: Finished</p>
            @Html.ActionLink("Ok", "Delete", new { id = item.ID });
            @Html.ActionLink("Need repair", "ToRepair", new { id = item.ID });
        }
    </div>
    }
</div>