@model IEnumerable<CarBooking.DAL.Entities.Order>

@{
    ViewBag.Title = "Orders";
}

<link href="~/Styles/Order/userOrders.css" rel="stylesheet"/>

<div class="orders-contaner">
    @foreach (var item in Model)
    {
    <div class="ord-wrapper">
        <p>Car: @item.Car.CarTitle</p>
        <p>Start Date:  @item.StartDate</p>
        <p>Finish Date: @item.FinishDate</p>
        <p>Price: @item.Price$</p>
        @switch (item.Status)
        {
            case CarBooking.DAL.Entities.Status.NotConfirmed:
                <p>Status: Not Confirmed</p>
                break;
            case CarBooking.DAL.Entities.Status.Refused:
                <p>Status: Refused</p>
                <p>@item.ManagerComment</p>
                @Html.ActionLink("Ok", "Delete", new { id = item.ID });
                break;
            case CarBooking.DAL.Entities.Status.Confirmed:
                <p>Status: Wait for payment</p>
                @Html.ActionLink("Pay", "Pay", new { id = item.ID });
                break;
            case CarBooking.DAL.Entities.Status.WPFR:
                <p>Status: Wait for payment for repair</p>
                <p>@item.RepairPrice</p>
                @Html.ActionLink("Pay", "Delete", new { id = item.ID });
                break;
            case CarBooking.DAL.Entities.Status.Paid:
                <p>Status: Paid</p>
                break;
            case CarBooking.DAL.Entities.Status.Finished:
                <p>Status: Finished</p>
                break;
        }
    </div>
    }
</div>