@model CarBooking.DAL.Entities.Order

@{
    ViewBag.Title = "Update";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        @Html.LabelFor(order => order.StartDate)<br>
        @Html.EditorFor(order => order.StartDate, new { htmlAttributes = new { @class = "form-control" } })
        <span id="start-date-error" class="error-message"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(order => order.FinishDate)<br />
        @Html.EditorFor(order => order.FinishDate, new { htmlAttributes = new { @class = "form-control" } })
        <span id="finish-date-error" class="error-message"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(order => order.PassportNumber)<br />
        @Html.EditorFor(order => order.PassportNumber, new { htmlAttributes = new { @class = "form-control" } })
        <span id="passport-number-error" class="error-message"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(order => order.NeedDriver, new { @class = "form-check-label" })
        @Html.EditorFor(order => order.NeedDriver)
    </div>
    <div class="form-group">
        @Html.HiddenFor(order => order.ID)
        @Html.HiddenFor(order => order.CarID)
        @Html.HiddenFor(order => order.ClientID)
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary form-submit-button" value="OK" />
    </div>
}

<script src="~/MyScripts/orderDataValidation.js"></script>
