<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Car Booking</title>
    @Styles.Render("~/Content/css")
    <link href="~/Styles/layout.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
</head>
<body>
    <header>
        <div class="menu-contaner">
            <ul class="user-menu">
                @{
                    var user = Session["User"] as CarBooking.DAL.Entities.User;

                    if (user != null)
                    {
                        if (user.Role == CarBooking.DAL.Entities.Role.Client)
                        {
                            <li>@Html.ActionLink("Cars", "Index", "Cars")</li>
                            <li>@Html.ActionLink("Orders", "GetUserOrders", "Orders")</li>
                        }
                        if (user.Role == CarBooking.DAL.Entities.Role.Manager)
                        {
                            <li>@Html.ActionLink("Orders", "GetNotConfirmedAndFinished", "Orders")</li>
                        }
                        if (user.Role == CarBooking.DAL.Entities.Role.Admin)
                        {
                            <li>@Html.ActionLink("Cars", "GetAll", "Cars")</li>
                            <li>@Html.ActionLink("Clients", "GetUsers", "Users")</li>
                            <li>@Html.ActionLink("Managers", "GetManagers", "Users")</li>
                        }
                    }
                }
            </ul>
            <ul class="account-menu">
                @{
                    if (user != null)
                    {
                        var title = "Hi, " + user.Login;
                        <li><span class="user-name">@title</span></li>
                        <li>@Html.ActionLink("Log out", "LogOut", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Log in", "LogIn", "Users")</li>
                        <li>@Html.ActionLink("Register", "Register", "Users")</li>
                    }
                }
            </ul>
        </div>
    </header>
    <div>
        <div class="body-contaner">
            @RenderBody()
        </div>
    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Car Booking</p>
    </footer>
</body>
</html>
