<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Car Booking</title>
    @Styles.Render("~/Content/css")
    <link href="~/Styles/layout.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <div class="container-fluid side-padding">
                <ul class="navbar-nav">
                    @{
                        var user = Session["User"] as CarBooking.DAL.Entities.User;

                        if (user != null)
                        {
                            if (user.Role == CarBooking.DAL.Entities.Role.Client)
                            {
                                <li class="nav-item">@Html.ActionLink("Cars", "Index", "Cars", null, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("Orders", "GetUserOrders", "Orders", null, new { @class = "nav-link" })</li>
                            }
                            if (user.Role == CarBooking.DAL.Entities.Role.Manager)
                            {
                                <li class="nav-item">@Html.ActionLink("DashBoard", "DashBoard", "Orders", null, new { @class = "nav-link" })</li>
                            }
                            if (user.Role == CarBooking.DAL.Entities.Role.Admin)
                            {
                                <li class="nav-item">@Html.ActionLink("Cars", "GetAll", "Cars", null, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("Clients", "GetUsers", "Users", null, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("Managers", "GetManagers", "Users", null, new { @class = "nav-link" })</li>
                            }
                        }
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    @{
                        if (user != null)
                        {
                            var title = "Hi, " + user.Login;
                            <li class="nav-item"><a href="#" class="nav-link">@title</a></li>
                            <li class="nav-item">@Html.ActionLink("Log out", "LogOut", "Users", null, new { @class = "nav-link" })</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("Log in", "LogIn", "Users", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Register", "Register", "Users", null, new { @class = "nav-link" })</li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <div class="body-contaner">
            @RenderBody()
        </div>
    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Car Booking</p>
    </footer>
</body>
</html>
