@model CarBooking.DAL.Entities.Car

@{
    ViewBag.Title = "Create";
}

    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.ValidationSummary()
        </div>

        <div class="form-group">
            @Html.LabelFor(car => car.CarTitle)<br />
            @Html.TextBoxFor(car => car.CarTitle, new { @class = "form-control" } )
            <span id="car-title-error" class="error-message"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(car => car.Price)<br />
            @Html.TextBoxFor(car => car.Price, new { @class = "form-control" } )
            <span id="price-error" class="error-message"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(car => car.ImagePath)<br />
            @Html.TextBoxFor(car => car.ImagePath, new { @class = "form-control" } )
            <span id="image-path-error" class="error-message"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(car => car.IsLuxury, new { @class = "form-check-label"})
            @Html.CheckBoxFor(car => car.IsLuxury)
        </div>

        <input type="submit" class="btn btn-primary form-submit-button" value="OK" />
    }


    <div>
        @Html.ActionLink("Back to List", "GetAll", null, new { @class= "btn btn-link" })
    </div>

    <script src="~/MyScripts/carDataValidation.js"></script>