@model CarBooking.DAL.Entities.Car

@{
    ViewBag.Title = "Edit";
}

<div class="container" style="padding-top:30px;">

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(car => car.ID)

        <div class="form-group">
            @Html.LabelFor(car => car.CarTitle)
            @Html.EditorFor(car => car.CarTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(car => car.CarTitle)
        </div>

        <div class="form-group">
            @Html.LabelFor(car => car.Price)
            @Html.EditorFor(car => car.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(car => car.Price)
        </div>

        <div class="form-group">
            @Html.LabelFor(car => car.ImagePath)
            @Html.EditorFor(car => car.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(car => car.ImagePath)
        </div>

        <div class="form-group">
            <div class="form-check" style="padding-left:0;">
                @Html.LabelFor(car => car.IsLuxury, new { @class = "form-check-label", @style = "padding-right: 5px"})
                @Html.EditorFor(car => car.IsLuxury, new { @class = "form-check-input"})
            </div>
        </div>

        <input type="submit" class="btn btn-light" style="margin-bottom: 10px;"/>
    }

    <div>
        @Html.ActionLink("Back to List", "GetAll", null, new { @class = "btn btn-light" })
    </div>
</div>