@model IEnumerable<CarBooking.DAL.Entities.Car>

@{
    ViewBag.Title = "Cars";
}

<link href="~/Styles/Cars/getAll.css" rel="stylesheet"/>

<div class="container-fluid">
    @Html.ActionLink("Create car", "Create", null, new { @class = "btn btn-light", @style = "margin-top:10px;"})
    @{
        var cars = Model as List<CarBooking.DAL.Entities.Car>;
        int count = cars.Count / 3;
        count += cars.Count % 3 != 0 ? 1 : 0;
        int index = 0;
        for (int counter = 0; counter < count; counter++)
        {
            <div class="row">
                @for(var limit = index + 3; index < limit && index < cars.Count; index++)
                { 
                <div class="col-sm-4">
                    <p>Car Title: @cars[index].CarTitle</p>
                    <p>Price: @cars[index].Price$ per h</p>
                    <p>Luxury: @cars[index].IsLuxury</p>
                    <p>Free: @cars[index].IsFree</p>
                    <p>Image Path: @cars[index].ImagePath</p>
                    @Html.ActionLink("Edit", "Edit", new { id = cars[index].ID}, new {@class = "btn btn-light" })
                    @Html.ActionLink("Delete", "Delete", new { id = cars[index].ID }, new { @class = "btn btn-light" })
                </div>
                }
            </div>
        }
    }
</div>