@model IEnumerable<CarBooking.DAL.Entities.Car>

@{
    ViewBag.Title = "Cars";
}

<link href="~/Styles/Cars/index.css" rel="stylesheet" />

@using (Html.BeginForm("Index", "Cars", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group">
        @Html.TextBox("search", "", new { @class = "form-control"})
    </div>
    <div class="form-group">
        <select name="sortOrder" class="form-control">
            <option value="1">Price</option>
            <option value="2">Name</option>
        </select>
    </div>
    <div class="form-group">
        @Html.Label("Luxury: ", new { @class = "form-check-label" })
        @Html.CheckBox("isLuxury")
    </div>
    <input type="submit" class="btn btn-light" value="OK" />
}

<div class="cars-wrapper">
    @foreach (var car in Model)
    {
        <div class="car-contaner">
            <div class="car-image-wrapper"><img src="@car.ImagePath" alt="@car.CarTitle" /></div>
            <div class="car-data-wrapper">
                <h3>@car.CarTitle</h3>
                <p>@car.Price $ per h</p>
                @if (car.IsLuxury)
                {
                    <p>Luxury</p>
                }
                @if (Session["User"] as CarBooking.DAL.Entities.User != null)
                {
                    @Html.ActionLink("Order", "Create", "Orders", new { carID = car.ID }, null)
                }
                else
                {
                    @Html.ActionLink("Order", "LogIn", "Users", new { errorMessage = "You need to authorize" }, null)
                }
            </div>
        </div>
    }
</div>