@model IEnumerable<CarBooking.DAL.Entities.Car>

@{
    ViewBag.Title = "Cars";
}

<div>
    @foreach (var car in Model)
    {
        <div>
           <img src="@car.ImagePath" alt="@car.CarTitle" />
           <h4>@car.CarTitle</h4>
           <p>@car.Price</p>
           <p>@car.IsLuxury</p>
        </div>
    }
</div>