@model IEnumerable<CarBooking.DAL.Entities.Car>

@{
    ViewBag.Title = "Cars";
}

<link href="~/Styles/Cars/index.css" rel="stylesheet" />

@using (Html.BeginForm())
{
<div class="row">
    <div class="col-2">
        <div class="form-group">
            <select name="sortOrder" class="form-control">
                <option value="1">Price</option>
                <option value="2">Name</option>
            </select>
        </div>
    </div>
    <div class="col-1">
        <div class="row">
            <div class="col-6">
                <div class="form-group checkbox-wrapper">
                        <label for="checkboxUp" class="form-check-label checkbox-label">&uarr;</label>
                        @Html.CheckBox("isSortDirectionUp", new { @class = "checkbox", @id="checkboxUp"})
                        <div style="display:none;"></div>
                    </div>
                </div>
            <div class="col-6">
                <div class="form-group checkbox-wrapper" id="right-arrow">
                    <label for="checkboxDown" class="form-check-label checkbox-label">&darr;</label>
                    @Html.CheckBox("isSortDirectionDown", new { @class = "checkbox", @id="checkboxDown"})
                </div>
            </div>
            </div>  
        </div>
    <div class="col-9">
        <div class="form-group">
            @Html.TextBox("search", "", new { @class = "form-control" })
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-2">
        <div class="form-group">
            @Html.Label("Only luxury: ", new { @class = "form-check-label" })
            @Html.CheckBox("isLuxury")
        </div>
    </div>
    <div class="col-10">
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="OK" />
        </div>
    </div>
</div>
}

<div class="cars-wrapper">
    @foreach (var car in Model)
    {
        <div class="car-contaner">
            <div class="car-image-wrapper"><img src="@car.ImagePath" alt="@car.CarTitle" /></div>
            <div class="car-data-wrapper">
                <h3>@car.CarTitle</h3>
                <p>@car.Price $ per h</p>
                @if (car.IsLuxury)
                {
                    <p>Luxury</p>
                }
                @if (Session["User"] as CarBooking.DAL.Entities.User != null)
                {
                    @Html.ActionLink("Order", "Create", "Orders", new { carID = car.ID }, null)
                }
                else
                {
                    @Html.ActionLink("Order", "LogIn", "Users", new { errorMessage = "You need to authorize" }, null)
                }
            </div>
        </div>
    }
</div>

<script>
    const checkboxes = document.querySelectorAll('.checkbox');
    const checkboxWrappers = document.querySelectorAll('.checkbox-wrapper');
    for (let checkbox of checkboxes) {
        checkbox.addEventListener('click', (event) => {
            for (let checkboxWrapper of checkboxWrappers) {
                if (checkboxWrapper.innerHTML !== event.target.parentElement.innerHTML) {
                    checkboxWrapper.classList.remove('checkbox-active');
                }
            }
            for (let checkbox of checkboxes) {
                console.log(checkbox.checked);
                if (checkbox.id !== event.target.parentElement.childNodes[3].id) {
                    checkbox.checked = false;
                }
            }
            event.target.parentElement.classList.toggle('checkbox-active'); 
        });
    }
    for (let checkbox of checkboxes) {
        checkbox.checked = false;
    }
</script>